{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<section class="header-11-sub">
    <div class="container">
        <div class="row">
            <div class="span8 offset2" style="min-height:400px;padding-top:100px">
                <h3>
                    Meer weten? Laat je e-mail hier achter, stuur zelf een mail naar info@rekentoets.nl<br />of bel ons op 020 705 1000.
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}