{% extends "base.html" %}
{% block title %}Over Ons{% endblock %}
{% block content %}
<section class="header-11-sub">
    <div class="container">
        <div class="row">
            <div id="overons" class="span8 offset2">
                <h1>De Rekentoets<br><small>Flexibel en onbeperkt oefenen tot je de toets haalt!</small></h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">

            <p class="span8 offset2">
                Perceptum is een bedrijf dat zich richt op het innoveren, verbeteren en leuker maken van onderwijs door middel van technologie. Hierbij kun je denken aan automatisch huiswerk beoordelen, onbeperkt oefenen met onmiddellijke feedback en spelelementen toevoegen aan het leerproces om leerlingen gemotiveerd te houden.
                Na de invoering van de verplichte rekentoets hoorden we van docenten dat de toets veel praktische implicaties heeft: hoewel de rekentoets een apart examen met zich meebrengt is het geen officieel vak en is er dus ook geen docent voor aangenomen. 
                Wij gaan dit probleem aanpakken met onze unieke combinatie van educatieve en technologische kennis. Het enige dat we nog zoeken is enthousiaste mensen die ons willen helpen dit project tot een goed einde te brengen.
                Interesse? Laat je e-mailadres achter!
            </p>
        </div>
    </div>
</section>
<section id="slides-holder" class="header-11-sub">
    <div class="container">
        <div class="row">
            <div class="span8 offset2" style="background-color:#ECF0F1;padding:20px;">
                <iframe src="//slid.es/martadomenechcanet/about-perceptum/embed" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="100%" height="400"></iframe>
                <iframe src="//slid.es/martadomenechcanet/verplichte-rekentoets/embed"  scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="100%" height="400"></iframe>
            </div>
        </div>
    </div>
</section>

{% endblock %}

