{% extends "base.html" %}
{% block title %}Over Ons{% endblock %}
{% block content %}
<section class="header-11-sub">
    <div class="container">
        <div class="row">
            <div id="overons" class="span8 offset2">
                <h1>De Rekentoets<br><small>Flexibel en onbeperkt oefenen tot je de toets haalt!</small></h1>
            </div>
        </div>
    </div>
</section>
<section id="slides-holder" class="header-11-sub">
    <div class="container">
        <div class="row">
            <div class="span8 offset2" style="background-color:#ECF0F1;padding:20px;">
                <iframe src="//slid.es/martadomenechcanet/about-perceptum/embed" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="100%" height="400"></iframe>
                <iframe src="//slid.es/martadomenechcanet/verplichte-rekentoets/embed"  scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="100%" height="400"></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}

