{% extends "base.html" %}
{% block title %}Platform{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="span8 offset2">
            <p>
                Hoewel rekenen een ouderwetse vaardigheid is die iedereen onder de knie dient te hebben is de traditionele manier van rekenonderwijs geven hopeloos verouderd. Eén klassikale uitleg (te snel voor de langzamere scholieren, saai voor de snellere), een stapel schriftjes (die je snel kwijtraakt), achteraf een paar uur sommetjes nakijken (terwijl je die tijd echt wel anders kunt besteden) en dan nog alles netjes in de administratie.
            </p>

                <p>Dat kan beter.</p>

                <p>Daarom willen wij een platform ontwikkelen waar leerlingen makkelijk, snel, en zelfstandig de domeinen uit de rekentoets onder de knie kunnen krijgen. 
                                De focus is hierin op Mastery Learning: we beginnen bij het begin zodat de basis goed is, en bouwen dan stap voor stap op tot de leerling op het gewenste niveau (of verder!) is. 
                                Elke leerling kan in dit platform op zijn/haar eigen tempo werken, zodat men elkaar niet tegenhoudt of frustreert. Het aantal oefeningen is vrijwel onbeperkt, waardoor er geoefend kan worden tot het kwartje valt. Per oefening zal een link gelegd worden met de uitleg van het onderliggende concept, voor als het echt even niet lukt. En om leerlingen te motiveren belonen we prestaties met een level-systeem. Ook de docent wordt niet vergeten: die krijgt een eigen dashboard, waar per leerling te zien is hoever die is in elk van de vier domeinen. Op die manier kan je als docent snel inspringen en een klein stukje van de stof toelichten op het moment dat je ziet dat veel leerlingen daar moeite mee hebben. </p>

                <p>Voorgestelde functies:
                                <ul>
                                    <li>
                                        Automatisch gegenereerde oefeningen zorgen ervoor dat leerlingen kunnen blijven oefenen tot ze de stof beheersen
                                    </li>
                                    <li>
                                        Door de oefeningen te koppelen aan de uitleg van onderliggende concepten krijgt een leerling die moeite heeft met een onderwerp op zijn/haar gemak meer duidelijkheid.
                                    </li>
                                    <li>
                                        Dashboards voor leerlingen en leraren zorgen ervoor dat de vooruitgang per leerling zowel individueel als per klas overzichtelijk blijft. Zo is het voor de leraar helder waar hij/zij eventueel in moet springen en de leerling kan in een oogopslag zien hoeveel er nog ingehaald moet worden.
                                    </li>
                                    <li>
                                        Het toevoegen van gamification-elementen zorgt ervoor dat leerlingen makkelijker gemotiveerd blijven omdat ze constante feedback krijgen in de vorm van een ‘bonus punten’-systeem in plaats van het reguliere en demotiverende ‘min-punten’ systeem wat meestal bij scholen in gebruik is. 
                                    </li>
                                </ul></p>
            </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}