<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Verplichte Rekentoets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/flat-ui.css">
    
    <!-- Using only with Flat-UI (free)-->
            <link rel="stylesheet" href="css/icon-font.css">
        <!-- end -->  
    
    <link rel="stylesheet" href="css/style.css">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../../flat-ui/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

<!-- header-11 -->
        <header class="header-11">
            <div class="container">
                <div class="navbar span12">
                    <div class="navbar-inner">
                        <button type="button" class="btn btn-navbar"> </button>
                        <a class="brand" href="/"><img src="img/gear_small.png" width="50" height="50" alt=""> Verplichte rekentoets</a>
                        <div class="nav-collapse collapse pull-right">
                            <ul class="nav">
                                <li><a href="/">HOME</a></li>
                                <li><a href="/overons">OVER ONS</a></li>
                                <!-- <li><a href="#">PORTFOLIO</a></li> -->
                                <li><a href="#">BLOG</a></li>
                                <li><a href="#">CONTACT</a></li>
                            </ul>
                            <!-- <form class="navbar-form pull-left">
                                <a class="btn btn-primary" href="#">SIGN IN</a>
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="header-11-sub" style="padding: 40px 0px 20px 0px;">
            <div class="background">&nbsp;</div>
            <div class="container">
                <div class="row">
                        <div class="span6 offset3" style="background-color:#ECF0F1;text-align:center;font-size:3em;padding:20px;">
                            <h3 style="font-size:1.3em;">Dank u voor uw belangstelling</h3>
                            <p  style="font-size:0.7em;">We zullen binnenkort contact met u op</p>
                        </div>
            </div>
        </section>
        
        <!-- <section class="header-11-sub" style="padding: 40px 0px;">
            <div class="background">&nbsp;</div>
            <div class="container">
                <div class="row">
                        <div class="span6 offset3">
                            <iframe src="http://strawpoll.me/embed_1/1031886" style="width: 600px; height: 418px; border: 0;">Loading poll...</iframe>
                        </div>
            </div>
        </section> -->

        
        <section class="header-11-sub bg-clouds" style="padding: 10px 0 0 0;">
            <div id="bgVideo" class="background">&nbsp;</div>
            <div class="container">
                <div class="row">
                           <div class="span6 offset3" style="background-color:#BDC3C7;padding:20px;">
                                <p>Je bent een {{ name }} en je email-adres is {{ email }}. Als u meer wilt weten over wat een {{ role }} kan doen lees verder. Als u meer wilt weten <a href="/overons">Over ons</a>, klikt op over ons.</p>
                        </div>
                    </div>
        </section>
        <section class="header-11-sub bg-clouds" style="padding: 10px 0 0 0;">
            <div id="bgVideo" class="background">&nbsp;</div>
            <div class="container">
                <div class="row">
                           <div class="span6 offset3" style="background-color:#BDC3C7;padding:20px;">
                            <p style="font-size:1.3em;">Met de invoering van de verplichte rekentoets per schooljaar 2014-2015 moeten scholen opeens een extra vak geven. Door het huidige tekort aan leerkrachten zijn hier vaak geen docenten voor beschikbaar. Toch moeten leerlingen goed voorbereid worden op de stof die in dit examen wordt getest.</p>
                           </div>

                        </div>
                    </div>
        </section>
        <section class="header-11-sub bg-clouds" style="padding: 10px 0 40px 0;">
            <div id="bgVideo" class="background">&nbsp;</div>
            <div class="container">
                <div class="row">
                           <div class="span6 offset3" style="background-color:#BDC3C7;padding:20px;">
                            <p style="font-size:1.3em;">We willen wij een platform ontwikkelen waar leerlingen makkelijk, snel, en zelfstandig de domeinen uit de rekentoets onder de knie kunnen krijgen. </p>
                            <p>Voorgestelde functies:</p>
                                <ul style="color:#34495E">
                                    <li>Automatisch gegenereerde oefeningen zorgen ervoor dat leerlingen kunnen blijven oefenen tot ze de stof beheersen</li>
                                    <li>Door de oefeningen te koppelen aan de uitleg van onderliggende concepten krijgt een leerling die moeite heeft met een onderwerp op zijn/haar gemak meer duidelijkheid.</li>
                                    <li>Dashboards voor leerlingen en leraren zorgen ervoor dat de vooruitgang per leerling zowel individueel als per klas overzichtelijk blijft. Zo is het voor de leraar helder waar hij/zij eventueel in moet springen en de leerling kan in een oogopslag zien hoeveel er nog ingehaald moet worden.</li>
                                    <li>Het toevoegen van gamification-elementen zorgt ervoor dat leerlingen makkelijker gemotiveerd blijven omdat ze constante feedback krijgen in de vorm van een ‘bonus punten’-systeem in plaats van het reguliere en demotiverende ‘min-punten’ systeem wat meestal bij scholen in gebruik is. </li>
                                </ul>
                           </div>
                           
                        </div>
                    </div>
        </section>

<!-- footer-2 -->
        <footer class="footer-2 bg-midnight-blue">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Over Ons</a></li>
                        <!-- <li><a href="#">Portfolio</a></li> -->
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <div class="social-btns pull-right">
                    <a href="#"><div class="fui-vimeo"> </div><div class="fui-vimeo"> </div></a>
                    <a href="#"><div class="fui-facebook"> </div><div class="fui-facebook"> </div></a>
                    <a href="#"><div class="fui-twitter"> </div><div class="fui-twitter"> </div></a>
                </div>
                <div class="additional-links">
                    <!-- Be sure to take a look to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a> -->
                </div>
            </div>
        </footer>




    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--[if lt IE 8]>
      <script src="../../flat-ui/js/icon-font-ie7.js"></script>
    <![endif]-->
    <script src="js/startup-kit.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
